* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("../img/fondo.jpg") #292929;
  background-size: cover;
  background-repeat: no-repeat;
}

.botones {
  margin: 0px auto;
  background: none;
  border: 1px solid #51D322;
  color: #51D322;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}
.botones:hover {
  background: #51D322;
  color: #fff;
  transition: all 0.3s linear;
}

.contenedor {
  background: #fff;
  max-width: 500px;
  width: 90%;
  margin: 15vh auto;
  padding: 20px;
  border-radius: 5px;
}
.contenedor .contenedor-login {
  display: flex;
  flex-direction: column;
}
.contenedor .contenedor-login .contenedor-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.contenedor .contenedor-login .contenedor-imagen .img-logo {
  max-width: 90%;
}
.contenedor .contenedor-login .contenedor-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contenedor .contenedor-login .contenedor-botones input[type=button] {
  width: 45%;
  border: 1px solid #51D322;
}
.contenedor .formulario {
  background: #fff;
  display: flex;
  flex-direction: column;
}
.contenedor input {
  border: 1px solid #2F3AB1;
}
.contenedor input[type=text], .contenedor input[type=password] {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 16px;
}
.contenedor input[type=text]:hover, .contenedor input[type=password]:hover {
  border: 1px solid #51D322;
}
.contenedor .contenedor-genero-texto {
  width: 100%;
  padding: 20px;
  border: 1px solid #2F3AB1;
  margin-bottom: 20px;
  border-radius: 1px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenedor .contenedor-genero-texto .genero-texto {
  color: #000;
  text-align: center;
  font-size: 20px;
}
.contenedor .contenedor-genero-texto .sexo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}
.contenedor .contenedor-genero-texto:hover {
  border: 1px solid #51D322;
}
.contenedor .contenedor-fecha-nacimiento {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 16px;
  border: 1px solid #2F3AB1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenedor .contenedor-fecha-nacimiento .fecha-texto {
  color: #000;
  text-align: center;
  font-size: 20px;
}
.contenedor .contenedor-fecha-nacimiento input[type=date] {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  border: none;
}
.contenedor .contenedor-fecha-nacimiento:hover {
  border: 1px solid #51D322;
}
.contenedor input[type=submit] {
  width: 100%;
  margin: 0px auto;
  background: none;
  border: 1px solid #51D322;
  color: #51D322;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}
.contenedor input[type=submit]:hover {
  background: #51D322;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
