* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("../img/fondo.jpg") #0f68d3;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.botones {
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #0454d4;
  color: #0454d4;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}
.botones:hover {
  background: #0454d4;
  color: #fff;
  transition: all 0.3s linear;
}

.inputText {
  border: 2px solid #fff;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
}
.inputText:hover {
  border: 2px solid #0454d4;
}

.contenedor-radio {
  width: 100%;
  padding: 20px;
  border: 2px solid #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenedor-radio:hover {
  border: 2px solid #0454d4;
}
.contenedor-radio .radio-texto {
  color: #000;
  text-align: center;
  font-size: 20px;
}
.contenedor-radio .radio-opciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
}

.contenedor {
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 500px;
  width: 90%;
  margin: 12vh auto;
  padding: 20px;
  border-radius: 5px;
}
.contenedor .contenedor-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.contenedor .contenedor-imagen .img-logo {
  max-width: 90%;
  animation: giralogo 30s ease-in-out infinite 2s;
}
@keyframes giralogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.contenedor .contenedor-boton-volver {
  display: none;
}
.contenedor .contenedor-boton-volver .botonVolver {
  width: 100%;
  border: 1px solid #000;
  color: #000;
  margin: 15px 0;
}
.contenedor .contenedor-boton-volver .botonVolver:hover {
  border: 1px solid #000;
  background: #000;
  color: #fff;
}
.contenedor .contenedor-login-principal {
  display: flex;
}
.contenedor .contenedor-login-principal .contenedor-botones {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.contenedor .contenedor-login-principal .contenedor-botones input[type=button] {
  width: 45%;
  border: 1px solid #0454d4;
}
.contenedor .contenedor-login-principal .contenedor-ingresar {
  display: none;
}
.contenedor .contenedor-login-principal .contenedor-ingresar .btn-identificar {
  width: 100%;
}
.contenedor .contenedor-formulario {
  display: none;
}
.contenedor .contenedor-formulario .formulario {
  display: none;
  background: none;
  display: flex;
  flex-direction: column;
}
.contenedor .contenedor-formulario .formulario .contenedor-datos-personales {
  display: none;
}
.contenedor .contenedor-formulario .formulario .contenedor-datos-personales .contenedor-fecha-nacimiento {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #2F3AB1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenedor .contenedor-formulario .formulario .contenedor-datos-personales .contenedor-fecha-nacimiento:hover {
  border: 1px solid #0454d4;
}
.contenedor .contenedor-formulario .formulario .contenedor-datos-personales .contenedor-fecha-nacimiento .fecha-texto {
  color: #000;
  text-align: center;
  font-size: 20px;
}
.contenedor .contenedor-formulario .formulario .contenedor-datos-personales .contenedor-fecha-nacimiento input[type=date] {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  border: none;
}
.contenedor .contenedor-formulario .formulario .contenedor-datos-personales .btn-seguir-a-cuantro-preguntas {
  width: 100%;
}
.contenedor .contenedor-formulario .formulario .contenedor-cuatro-preguntas {
  display: none;
}
.contenedor .contenedor-formulario .formulario .contenedor-cuatro-preguntas .btn-seguir-a-preguntas-finales {
  width: 100%;
}
.contenedor .contenedor-formulario .contenedor-submit {
  display: none;
}
.contenedor .contenedor-formulario .contenedor-submit input[type=submit] {
  width: 100%;
}

.contenedor-usuario-identifiado p {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
